<div class="header" id="home">
    <div class="container">
        <div class="head">
            <div class="col-xs-6 heading">
                <br>
                <img src="assets/images/logo_g.png" class="logoGeral">
            </div>
            <div class="col-xs-6 navigation alinhaDir">
                <ul class="navig">
                    <!-- <li><a href="#null" class="hvr-bounce-to-bottom">Home</a></li> -->
                    <li><a href="#null" class="active hvr-bounce-to-bottom">Teste de FrontEnd</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>