<div class="header" id="home">
    <div class="container">
        <div class="head">
            <div class="col-xs-6 heading">
                <br>
                <h3 class="colorB">Site Alex</h3>
            </div>
            <div class="col-xs-6 navigation alinhaDir">
                <ul class="navig">
                    <li><a href="#null" class="hvr-bounce-to-bottom">Home</a></li>
                    <li><a href="#null" class="active hvr-bounce-to-bottom">Contato(CEP)</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
