<div class="contact">
    <div class="container">
        <div class="contact-top heading">
            <h3>Entre com o CEP</h3>
            <br>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="cep">CEP</label>
                        <input type="tex" class="form-control" id="cep" placeholder="00000-000" />
                    </div>
                </div>
                <div class="col-md-8">
                    &nbsp;<br>
                    <button class="btn btn-primary" type="button" (click)="buscar()">Buscar</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="logradouro">Logradouro</label>
                        <input type="tex" class="form-control" id="logradouro" placeholder="Logradouro" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="numero">Número</label>
                        <input type="tex" class="form-control" id="numero" placeholder="Número" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="complemento">Complemento</label>
                        <input type="tex" class="form-control" id="complemento" placeholder="Complemento" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="bairro">Bairro</label>
                        <input type="tex" class="form-control" id="bairro" placeholder="Bairro" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cidade">Cidade</label>
                        <input type="tex" class="form-control" id="cidade" placeholder="Cidade" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="uf">UF</label>
                    <input type="tex" class="form-control" id="uf" placeholder="UF" />
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>